<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="IsDebug" value="true" /> <!-- true/false -->
    <add key="SyncInterval" value="1"/><!-- In Minutes Min:5, Max:30 : Optimal:5-->
    <add key="LocalDataBase" value="BR6NljWSTFAwojF8AlPAOc1Fs59UimpsP5Ym/ARRIp0C10gOFELi+cxkDVt6+vi5D21fzh0HmBpQKJVGJsWTE3+iP7iJiZW8qYqN/AJtFNeF4SSEcV9HAzULtyvlMWOXvOG9ZHcUz0tuVyqRZLUYQxEyjvS/stJkT674qRx1k7I37W5ZljnpicL7tszydBDVf7VGoVjjR5szER4OJ37fZW/LGwXEXUhbUfzG81iqEAhZJWbxnFJEuvXgkHt6QyARpDsUydj32QRMzcEC7JCAqg=="/>
    <!--Original Value server=localhost;port=3306;database=sam;uid=root;password=MySQL@123456;Allow Zero Datetime=True; -->
    <add key="GetLimit" value="5"/> <!-- Min:5, Max:25 : Optimal:15-20 -->
    
    <!-- Client Details to invoke Web API -->
    <add key="APIURL" value="https://localhost:8083/"/> 
    <!--<add key="APIURL" value="https://localhost:44346/"/>-->
    <add key="UserName" value="ClientA"/>
    <add key="Password" value="clientA@123"/>
    <add key="Queue" value="ClientA_Queue"/><!-- Client Name is the Queue Name, each client should have independent Queue -->
    
    <add key="Key" value="E546C8DF278CD5931069B522E695D4F2"/>
    
  </appSettings>
</configuration>